{% extends "base.html" %}
{% load static %}
{% block title %}
Liste des candidatures
{% endblock title %}
{% block content %}
<div class="content-header">
  <div class="search-container" id="filters">
    <!-- Search input -->
    <div class="filter">
      <img class="btn-icon" src="{% static 'icons/search.png' %}" alt="edit-btn">
      <input type="search"
             name="qs"
             hx-get="{% url 'tracking:applications-tracking' user_obj.id %}"
             hx-trigger="change"
             hx-target="#applications-container"
             hx-include="#filters"
             placeholder="Chercher ici"/>
    </div>
    <!-- Tags -->
    <div class="category">
      <div class="tags-btn">
        Filtrer par statut
        <img class="btn-icon" src="{% static 'icons/filter.png' %}" alt="filter">
      </div>
      <div class="field field-filters">
        {% for tag in status %}
        <label>
          <input
                  type="checkbox"
                  name="status"
                  value="{{ tag.value }}"
                  hx-get="{% url 'tracking:applications-tracking' user_obj.id %}"
                  hx-trigger="change"
                  hx-target="#applications-container"
                  hx-include="#filters"
          >
          {{ tag.label }}
        </label>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="applications-container"
     hx-get="{% url 'tracking:applications-tracking' user_obj.id %}"
     hx-trigger="load, formSubmittedEvent from:body"
     hx-target="this"
     hx-swap="innerHTML">
</div>
{% endblock content %}