{% load static %}

{% include 'includes/messages.html' %}
<div class="register" id="large">
  <div class="close-bnt">
    <img class="btn-icon"
              id="close-btn"
             src="{% static 'icons/close.png' %}"
             alt="close-btn">
  </div>
  <div class="register-header">
    {{ title }}
  </div>
  <div class="register-content">
    <form hx-post="{{ request.path }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
          enctype="multipart/form-data"
    >
      {% csrf_token %}
      {{ form.media }}

      <div class="field">
        <label>Intitulé du poste</label>
        {{ form.title }}
      </div>
      <div class="field">
        <label>Entreprise</label>
        {{ form.company }}
      </div>
      <div class="field">
        <label>Lieu de localisation</label>
        {{ form.location }}
      </div>
      <div class="field">
        <label>Date de début</label>
        {{ form.start_date }}
      </div>
      <div class="field">
        <label>Date de fin</label>
        {{ form.end_date }}
      </div>
      <div class="field checkbox">
        <label>Toujours en poste </label>
        {{ form.is_current }}
      </div>
      <div class="field">
        <label>Description</label>
        {{form.description }}
      </div>
      <div class="btns actions">
        <button class="btn cancel primary" id="cancel" type="button">Annuler</button>
        <button class="btn valid primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>