{% load static %}

{% include 'includes/messages.html' %}
<div class="register" id="large">
  <div class="close-bnt">
    <img class="btn-icon"
         id="close-btn"
         src="{% static 'icons/close.png' %}"
         alt="close-btn">
  </div>
  <div class="register-header">
    {{ title }}
  </div>
  <div class="register-content">
    <form hx-post="{{ request.path }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
          enctype="multipart/form-data"
    >
      {% csrf_token %}
      {{ form.media }}

      <div class="field no-right-radius">
        <div class="field">
          <label>Nom</label>
          {{ form.name }}
        </div>
        <label>Catégorie</label>
        <div class="field-content">
          {{ form.category }}
          <div class="btn valid primary"
               hx-get="{% url 'techstack:add-category' user_id=user_obj.id %}"
               hx-target="#dialog">
            <img class="btn-icon"
                 src="{% static 'icons/add-white.png' %}"
                 alt="add-btn">
          </div>
        </div>
      </div>
      <div class="btns actions">
        <button class="btn cancel primary" id="cancel" type="button">Annuler</button>
        <button class="btn valid primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>