:root {
  /*--  All font size --*/
  font-size: 62.5%;

  /*-- Font Family --*/
  --fm: 'Inter', sans-serif;

  /*-- Neutral Colors --*/
  --Black: #1e1e1e;
  --Divider: #E0E0E0;
  --Dark: #263238;
  --D_grey: #4D4D4D;
  --Grey: #717171;
  --Grey_Blue: #ABBED1;
  --L_Grey: #89939E;
  --L_Grey_Blue: #304258;
  --Light: #f8f8f2;
  --Silver: #F5F7FA;
  --White_stroke: #ABBED1;
  --White: #FFFFFF;

  /*-- Brand Colors --*/
  --Primary: #4CAF4F;
  --Secondary: #263238;
  --Info: #2194F3;

  /*-- Shade Colors --*/
  --S1: #43A046;
  --S2: #388E3B;
  --S3: #237D31;
  --S4: #1B5E1F;
  --S5: #103E13;

  /*-- Tint Colors --*/
  --T1: #66BB69;
  --T2: #81C784;
  --T3: #A5D6A7;
  --T4: #C8E6C9;
  --T5: #E8F5E9;

  /*-- Action Colors --*/
  --Success: #2E7D31;
  --Error: #E53835;
  --Trash: #FA5252;
  --Warning: #FBC02D;

  /* Alert Colors */
  --Alert_Info: #E3F2FD;
  --Alert_Success: #E8F5E9;
  --Alert_Warning: #FFF3E0;
  --Alert_Error: #FFEBEE;

}

/* -- Reset --*/
* {
  font-family: var(--fm) ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--Grey);
  margin: 0;
  padding: 0;
}
/*-- General --*/
body {
  font-size: 1.6rem;
  overflow-x: hidden;
  max-height: 100vh;
  letter-spacing: 0.6px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--Grey);
}
button {
  font-size: 1.6rem;
}
small {
  font-size: 1.2rem;
}
.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}
.btns.space-between {
  justify-content: space-between;
}
.btns.flex-end {
  justify-content: flex-end;
}
.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  transition: all 0.5s ease;
}
.btn:hover {
  transition: all 0.5s ease;
}
.btn.no-cursor {
  cursor: auto;
}
.btn.linked {
  text-decoration: underline;
}
.btn.valid {
  color: var(--White);
}
.btn.cancel {
  background-color: var(--White);
}
.btn.valid.primary {
  background-color: var(--Primary);
  border: 1px solid var(--Primary);
}
.btn.valid.primary:hover {
  background-color: var(--S1);
  border: 1px solid var(--S1);
}
.btn.cancel.primary {
  color: var(--Primary);
  border: 1px solid var(--Primary);
}
.btn.cancel.primary:hover {
  color: var(--S1);
  border: 1px solid var(--S1);
}
.btn.valid.delete {
  background-color: var(--Trash);
  border: 1px solid var(--Trash);
}
.btn.valid.delete:hover {
  background-color: var(--Error);
  border: 1px solid var(--Error);
}
.btn.cancel.delete {
  color: var(--Trash);
  border: 1px solid var(--Trash);
}
.btn.cancel.delele:hover {
  color: var(--Error);
  border: 1px solid var(--Error);
}
.link {
  color: var(--Primary);
  text-decoration: none;
  padding: 0;
}
.link:hover {
  text-decoration: underline;
  color: var(--S1);
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.btn-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.btn-icon:hover {
  opacity: 0.8;
}
.close-bnt {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1rem;
  margin: 0;
}
.close-bnt .btn-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.icon img {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  font-weight: 800;
  object-fit: cover;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
}
.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.col.medium {
  max-width: 12rem;
}
.col.medium .icon {
  width: 1.2rem;
  height: 0.8rem;
}
.nav {
  width: 100%;
  border-radius: 0.2rem;
}
.nav.active {
  background: var(--White);
}
.nav-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid var(--Divider);
}
.nav-title.active .nav-title-name {
  color: var(--Dark);
}
.nav-title:hover {
  opacity: 0.8;
}
.nav-title .icon {
  width: 1.6rem;
  height: 1.5rem;
  font-width: 700;
  transition: rotate 0.1s ease;
}
.nav-title.active .icon {
  rotate: 90deg;
  transition: rotate 0.1s ease;
}
.nav-menu {
  padding-left: 5rem;
  display: none;
}
.nav-menu.active {
  display: block;
  background-color: var(--White);
  color: var(--White);
}
.nav-item {
  padding: 0.3rem 1rem 0.3rem 0rem;
  border-bottom: 1px solid var(--Silver);
  cursor: pointer;
}
.nav-item.active {
  color: var(--Primary);
  border-bottom: 1px solid var(--Primary);
}
.nav-item:hover {
  opacity: 0.8;
}
/*-- Table --*/
.table-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}
.row.table-header {
  background: var(--Dark);
}
.table-header .col {
  font-weight: 600;
  color: var(--White);
}
.table-body {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.table-body .row {
  background: var(--Silver);
  border-top: 1px solid var(--Divider);
  border-bottom: 1px solid var(--Divider);
}
.table-content .btn {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.table-body .nav {
  padding: 0.5rem 0;

}
.table-body .nav-title {
  font-weight: 500;
  padding: 0;
  border: none;
}
.table-body .nav-menu {
  padding: 0;
}
.table-body .nav .row {
  background: transparent;
}
.nav-title .row {
  border: 1px solid var(--Divider);
}
.nav-menu .row {
  border-top: none;
  border-bottom: 1px solid var(--Divider);
}
/* -- Alert -- */
.messages {
  position: fixed;
  top: 7rem;
  right: 2rem;
  z-index: 1000;
}
.alert {
  position: relative;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 30rem;
}
.alert .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.alert .icon:hover {
  opacity: 0.7;
}
.alert.alert-info {
  background: var(--Alert_Info);
  color: var(--Info);
  border: 1px solid var(--Info);
}
.alert.alert-success {
  background: var(--Alert_Success);
  color: var(--Success);
  border: 1px solid var(--Success);
}
.alert.alert-warning {
  background: var(--Alert_Warning);
  color: var(--Warning);
  border: 1px solid var(--Warning);
}
.alert.alert-error {
  background: var(--Alert_Error);
  color: var(--Error);
  border: 1px solid var(--Error);
}
.alert-title {
  font-weight: 600;
  margin: 0.5rem 0
}
.alert-title.alert-info {
  color: var(--Info);
}
.alert-title.alert-success {
  color: var(--Success);
}
.alert-title.alert-warning {
  color: var(--Warning);
}
.alert-title.alert-error {
  color: var(--Error);
}
.container {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0rem;
}
/* -- Modal -- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* <-- au lieu de center */
  padding: 2rem 0; /* espace haut/bas */
  overflow-y: auto; /* scroll global */
}
.modal-dialog {
  background: #fff;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 70rem;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-dialog.small{
  max-width: 50rem;
}
.modal-dialog.medium{
  max-width: 70rem;
}
.modal-dialog.large{
  max-width: 90rem;
}
.modal-overlay.hidden {
  display: none;
}
/*-- Header --*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background: var(--White);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  border-bottom: 1px solid var(--Divider);
  z-index: 1000;
}
.logo {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.menu.right {
  justify-content: flex-end;
}
.menu.left {
  justify-content: flex-start;
}
.menu .item {
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--D_Grey);
  white-space: nowrap;
  transition: all 0.5s ease;
}
.menu .item.active {
  color: var(--Dark);
  border-bottom: 0.3rem solid var(--Primary);
  transition: all 0.5s ease;
}
.menu .item:hover {
  color: var(--Dark);
  transition: all 0.5s ease;
}
/*-- Content --*/
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 6rem;
}
.content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10rem 10rem 4rem 10rem;
  background: var(--Silver);
}
.counter-btn {
  font-size: 2rem;
  font-weight: 700;
  color: var(--Dark);
  margin: 2rem 0;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  border-radius: 0.2rem;
}
.filter {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3rem;
  padding-left: 1.5rem;
  border: 1.5px solid var(--Grey);
}
.filter input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.3rem 1.5rem;
  outline: none;
  border: none;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.search-content input::placeholder {
  opacity: 0.5;
}
.search-content form {
  width: 100%;
}
.category {
  position: relative;
  width: 25rem;
}
.category .nav {
  position: absolute;
  top: -2rem;
  width: 30rem;
  border: 1.5px solid var(--Grey);
}
#filters select {
  height: 10rem;
  overflow-y: auto;
}
.tags-filters {
  position: relative;
  margin-top: 2rem;
}
.field-filters {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5rem;
  height: 10rem;
  overflow-y: auto;
}
.tags-btn {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  border-bottom: 1.5px solid var(--Divider);
}
/* -- Card -- */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 34rem;
  min-width: 34rem;
  min-height: 34rem;
  margin: 2rem 0;
  border-radius: 0.2rem;
}
.card.small {
  width: 25rem;
  height: 24rem;
  min-width: 24rem;
  min-height: 24rem;
}
.card-image {
  width: 100%;
  height: 16.5rem;
  min-height: 16.5rem;
  overflow: hidden;
  background: var(--Dark);
  border-radius: 0.2rem;
}
.card.small .card-image {
  height: 10.5rem;
  min-height: 10.5rem;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}
.card-content {
  height: 12rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
}
.card-content.small {
  height: 9rem;
  min-height: 9rem;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: var(--Dark);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--Divider);
}
.card-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.5rem;
}
/*-- User Profile --*/
.dc {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 10rem;
}
.user-profile  {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  background: var(--Silver);
}

.user-profile-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 4rem;
  margin-bottom: 2rem;
}
.skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.user-profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--Grey);
}
.user-name {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--Dark);
}
.user-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--Primary);
  margin-bottom: 0.5rem;
}
.user-position {
  font-size: 1.8rem;
  font-weight: 600;
  color : var(--D_Grey);
}
.user-bio {
  margin: 1rem 0;
}
.avatar {
  max-width: 20rem;
  height: auto;
  overflow: hidden;
}
.avatar.circle {
  max-width: 16rem;
  max-height: 16rem; /* moitié de 17rem */
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar.circle img {
  object-position: top; /* IMPORTANT : garde le haut de l’image */
}
.btns.userprofile {
  margin: 0;
}
.btns.icons {
  justify-content: flex-end;
  gap: 4rem;
}
.dc-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 4rem;
  padding: 0 10rem;
}
.dc-category {
  font-size: 3.2rem;
  font-weight: 700;
  min-width: 25rem;
  color: var(--Dark);
  border-top: 0.4rem solid var(--Dark);
  padding-top: 1.5rem;
}
.dc-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2.5rem;
  border-top: 0.1rem solid var(--Grey);
}
.dc-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.dc-title.title,
.dc-title .title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--Dark);
}
.dc-title.subtitle,
.dc-title .subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--D_Grey);
}
.dc-content-desc {
  padding-top: 2rem;
}
.dc-content-desc p {
  padding-bottom: 2rem;
}
.dc-content-desc ul {
  padding-left: 1.5rem;
}
.dc-content-desc li {
  padding-bottom: 1.2rem;
  list-style-type: disc;
}
.dc-content-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dc-content-cards.certificates {
  flex-direction: row;
  flex-wrap: wrap;
}
.dc-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--Silver);
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.dc-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--Primary);
}
.dc-content-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
.dc-content-card.certificates {
  border: 0.1rem solid var(--Primary);
  padding: 0;
  border-radius: 0.3rem;
}
.dc-content-card.certificates .btns {
  margin-right: 1rem;
}
.tech-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 2rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--Primary);
  border-radius: 0.2rem;
}
.tech-container .btns,
.tech-container .btn {
  padding: 0;
  margin: 0;
}
.tech-category {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--Dark);
}
.tech {
  font-weight: 600;
}
.dc-content-card .btns {
  gap: 1rem;
}
.dc-content-card .btn {
  text-align: center;
  padding: 1rem 2rem;
}
.dc-content-card .btn-icon {
  width: 2rem;
  height: 2rem;
}
/*-- projects --*/
.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.projects-container.all {
  background: var(--Silver);
  padding: 4rem;
  margin-bottom: 10rem;
}
.projects-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--Dark);
}
.projects-subtitle {
  font-weight: 600;
  color: var(--D_Grey);
  padding-bottom: 4rem;
}
.projects-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.8rem;
  background: var(--White);
  border-radius: 5rem;
}
.projects-btn .btn {
  width: 100%;
  border-radius: 5rem;
}
.projects-btn .icon {
  width: 4rem;
}
/*-- project-detail -- */
.project-detail {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  overflow-y: auto;
}
.project-detail-aside {
  background: var(--Silver);
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 6rem;
  overflow-y: auto;
  transition: 0.1s ease;
}
.project-detail-main {
  width: calc(100% - 30rem);
  margin-left: 30rem;
  height: 100%;
  padding: 4rem;
  transition: 0.1s ease;
}
.project-detail-aside.active {
  width: 5rem;
  transition: 0.1s ease;
}
.project-detail-aside.active .nav-title-name,
.project-detail-aside.active .nav-item {
  display: none;
}
.project-detail-main.active {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  transition: 0.1s ease;
}
.aside-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 1rem;
}
.aside-menu-icon {
  cursor: pointer;
}
.aside-menu-icon:hover {
  background: var(--Divider);
  border-radius: 0.3rem;
}
.project-detail-aside.active .aside-menu-icon {
  rotate: 180deg;
}
.project-detail-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Dark);
  padding: 0.5rem 0;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-top: 0.1rem solid var(--Divider);
  border-bottom: 0.1rem solid var(--Divider);
}
.author-picture {
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.author-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Dark);
  margin-bottom: 0.5rem;
}
.author-title {
  font-size: 1.4rem;
  color: var(--D_Grey);
  font-weight: 500;
}
.author-position {
  font-size: 1.2rem;
  color: var(--D_Grey);
}
.author-date {
  font-size: 1.2rem;
  color: var(--D_Grey);
  padding: 0.8rem 0;
}
.author-date.updated {
  color: var(--Primary);
}
/*-- Register --*/
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
}
.register.silver{
  background: var(--Silver);
}
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--White);
  padding: 2rem;
  border-radius: 0.5rem;
}
.register-container.small{
  max-width: 500px;
}
.register-container.medium{
  max-width: 700px;
}
.register-container.large{
  max-width: 900px;
}
.register-header {
  color: var(--D_Grey);
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  padding: 0;
  margin: 0;
}
.register-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
.register .btns {
  justify-content: flex-end;
}
.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}
.category .field{
  padding: 0;
}
.field.checkbox{
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  margin: 0.5rem 0;
}
.field label {
  color: var(--D_Grey);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.tags-filters .field label {
  font-weight: normal;
  font-size: 1.6rem;
}
.field label.title {
  margin-bottom: 1rem;
}
.field input,
.field textarea {
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 0.2rem;
  border: 1.5px solid var(--Grey);
}
.field input:focus,
.field textarea:focus {
  border: 1.5px solid var(--Primary);
}
.field select,
::picker(select) {
  appearance: base-select;
}
::picker(select) {
  top: calc(anchor(bottom) + 0.1rem);
  left: anchor(0%);
  border: none;
}
.field select {
  flex: 1;
  padding: 1rem;
  background: var(--White);
  border: 1.5px solid var(--Grey);
  border-radius: 0.2rem;
  transition: 0.4s;
}
.category .field select{
  background: var(--Silver);
}
.field select:hover,
.field select:focus {
  border: 1.5px solid var(--Primary);
}
select::picker-icon {
  color: var(--Grey);
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
.field select option {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 1rem;
  color: var(--Grey);
  background: var(--Silver);
  border-bottom: 0.1rem solid var(--Divider);
  transition: 0.4s;
}
.field select option:hover{
  background: var(--White);
  border-bottom: 0.1rem solid var(--Primary);
}
.field.image input{
  width: 100%;
  padding: 0.8rem 1rem;
}
.field a {
  width: auto;
}
.field input[type="checkbox"]{
  max-width: 2rem;
  accent-color: var(--S1);
}
.field label[for="avatar-clear_id"] {
  cursor: pointer;
}
.field-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.field-content.select-multiple {
  align-items: flex-start;
}
.field-content.select-multiple select {
  height: 4.8rem;
  padding-top: 0rem;
}
.field-content.select-multiple select:hover {
  height: 20rem;
  padding-top: 0.5rem;
}
.field-content .btn {
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.field-content .btn-icon {
  width: 3rem;
  height: 3rem;
}
.field.no-right-radius input,
.field.no-right-radius select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*-- CK Editor --*/
.ck-body-wrapper {
  display: none;
}
.field .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: 1.5px solid var(--Grey);
  border-bottom: none;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.field .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border: 1.5px solid var(--Grey);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  min-height: 10rem;
}
.field .ck.ck-editor__editable.ck-focused {
  border: none;
}
.field .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  outline: none;
  border: 1.5px solid var(--Primary);
}
.register-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 0.8rem;
}
input::placeholder,
textarea::placeholder {
  color: var(--Grey) !important;
  opacity: 0.5 !important;
}
.ck.ck-editor__editable > .ck-placeholder::before {
  color: var(--Grey) !important;
  opacity: 0.5 !important;
}
/*-- Contact Page --*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 4rem;
  background: var(--Silver);
}
.contact .author {
  width: 50rem;
  padding: 2.5rem;
  background: var(--White);
  border-radius: 0.5rem;
}
.contact-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0 2.5rem;
  background: var(--White);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

pre[class*="language-"],
.field .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) pre[class*="language-"] {
    background: var(--Black) !important;
    color: var(--Light) !important;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
}
code[class*="language-"],
.field .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) code[class*="language-"] {
    color: var(--Light) !important;
    font-family: "Fira Code", Consolas, monospace;
}
/*-- Footer --*/
.footer {
  height: 20rem;
  background: var(--Dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 8rem;
  gap: 1rem;

}
.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer .label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--White);
}
.footer .logo {
  width: 2.5rem;
  height: 2.5rem;
}
.footer .description {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.footer .social {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer .item {
  color: var(--Silver);
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
}
.footer .linked:hover {
  transform: scale(1.1);
  color: var(--White);
  transition: all 0.5s ease;
}
.footer .btn {
  background: var(--White);
  color: var(--Dark);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}
.footer .btn:hover {
  opacity: 0.8;
}
.footer .icon {
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--L_Grey);
  border-radius: 50%;
}
.footer .btn-icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  display: block;
  transition: opacity 0.2s ease;
}
.footer .btn-icon:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
