{% extends "base.html" %}
{% load static %}
{% block title %}
Liste des projets
{% endblock title %}
{% block content %}
<div class="content-header">
  <div class="content-header-title">
    De la donnée brute aux insights qui font la différence, explorez mes projets en Data Analytics, Engineering,
    Science, ML & Python, tous orientés résultats concrets.
  </div>
  <div class="search-container" id="filters">
    <div class="category">
      <div class="field filter-btn">
        <!-- Catégorie -->
        <select name="category"
                hx-get="{% url 'project:list' user_obj.id %}"
                hx-trigger="change"
                hx-target="#projects-container"
                hx-include="#filters"
        >
          <option value="">Toutes les catégories</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
        <!-- Tags -->
        <div class="tags-filters">
          <div class="tags-btn">
            Mots-clés
            <img class="btn-icon" src="{% static 'icons/filter.png' %}" alt="filter">
          </div>
          <div class="field field-filters">
            {% for tag in tags %}
            <label>
              <input
                      type="checkbox"
                      name="tags"
                      value="{{ tag.id }}"
                      hx-get="{% url 'project:list' user_obj.id %}"
                      hx-trigger="change"
                      hx-target="#projects-container"
                      hx-include="#filters"
              >
              {{ tag.name }}
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Search input -->
    <div class="filter">
      <div class="icon-container">
        <img class="btn-icon" src="{% static 'icons/search.png' %}" alt="edit-btn">
      </div>
      <input type="search"
             name="qs"
             hx-get="{% url 'project:list' user_obj.id %}"
             hx-trigger="change"
             hx-target="#projects-container"
             hx-include="#filters"
             placeholder="Chercher ici"/>
    </div>
  </div>
</div>
<div id="projects-container"
     hx-get="{% url 'project:list' user_obj.id %}"
     hx-trigger="load, formSubmittedEvent from:body"
     hx-target="this"
     hx-swap="innerHTML">
</div>
{% endblock content %}