{% load static %}
{% load i18n %}
{% include 'includes/messages.html' %}
<div class="add-application-btn">
  <div class="counter-btn">{{ nb_projects }}</div>
  <div class="btns">
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'project:add' user_id=user_obj.id %}"
            hx-target="#dialog"

    >Ajouter un projet
    </button>
    {% endif %}
  </div>
</div>
<div class="projects all">
  <div class="cards">
    {% for project in projects %}
    <div class="card">
      <div class="card-image">
        {% if project.image %}
        <img src="{{ project.image.url }}" alt="image"/>
        {% endif %}
      </div>
      <div class="card-content">
        <div class="card-title">
          {{ project.title }}
        </div>
        <div class="btns flex-end">
          <small class="card-date">
            {% language 'fr' %}
            Publié le {{project.created_at|date:"F Y"}}
            {% endlanguage %}
          </small>
        </div>
        <div class="card-subtitle">
          {{ project.description|safe|truncatewords:12 }}
        </div>
      </div>
      <div class="btns space-between">
        <a href="{{ project.source_code_url }}" class="btn cancel primary" target="_blank">Voir le code</a>
        <a href="{% url 'project:detail-index' project.id %}" class="btn valid primary">Voir le projet</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>