{% load static %}

{% include 'includes/messages.html' %}
<div class="register" id="medium">
  <div class="close-bnt">
    <img class="btn-icon"
              id="close-btn"
             src="{% static 'icons/close.png' %}"
             alt="close-btn">
  </div>
  <div class="register-header">
    {{ title }}
  </div>
  <div class="register-content">
    <form hx-post="{{ request.path }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
          enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="field">Vous êtes sur le point de supprimer ce profil! Cette action est irréversible.</div>
      <div class="btns actions">
        <button class="btn cancel delete" id="cancel" type="button">Annuler</button>
        <button class="btn valid delete" type="submit">Confirmer</button>
      </div>
    </form>
  </div>
</div>