{% load static %}

{% include 'includes/messages.html' %}
<div class="register" id="large">
  <div class="close-bnt">
    <img class="btn-icon"
         id="close-btn"
         src="{% static 'icons/close.png' %}"
         alt="close-btn">
  </div>
  <div class="register-header">
    {{ title }}
  </div>
  <div class="register-content">
    <form hx-post="{{ request.path }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
          enctype="multipart/form-data"
    >
      {% csrf_token %}
      {{ form.media }}

      <div class="field">
        <label>Titre</label>
        {{ form.title }}
      </div>
      <div class="field">
        <label>Position</label>
        {{ form.position }}
      </div>
      <div class="field">
        <label>Date de naissance</label>
        {{ form.birth_date }}
      </div>
      <div class="field">
        <label>Lieu de localisation</label>
        {{ form.location }}
      </div>
      <div class="field">
        <label>Numéro de téléphone</label>
        {{ form.phone }}
      </div>
      <div class="field profile-photo">
        <label>Photo profile</label>
        {{ form.avatar }}
      </div>
      <div class="field">
        <label>Résumé</label>
        {{form.bio }}
      </div>
      <div class="btns actions">
        <button class="btn cancel primary" id="cancel" type="button">Annuler</button>
        <button class="btn valid primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>