{% load static %}
<div class="user-profile">
  <div class="user-profile-container">
    {% include 'includes/messages.html' %}
    <div class="skills">
      <div class="user-profile-header">
        <div class="text">
          <div class="user-name">
            {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
          </div>
          <div class="user-title">
            {{ userprofile.title }}
          </div>
          <div class="user-position">
            {{ userprofile.position }}
          </div>
          <small>
            {{ user_obj.email }} | {{ userprofile.phone }} | {{ userprofile.location }} | {{ userprofile.age }} ans
          </small>
        </div>
        <div class="avatar circle">
          {% if userprofile.avatar %}
          <img src="{{ userprofile.avatar.url }}" alt="Avatar"/>
          {% endif %}
        </div>
      </div>
      <div class="user-bio">
        {{ userprofile.bio|safe }}
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="btns flex-end">
    <button class="btn cancel delete"
            hx-get="{% url 'userprofile:delete' userprofile_id=userprofile.id %}"
            hx-target="#dialog"
    >Supprimer
    </button>
    <button class="btn valid primary"
            hx-get="{% url 'userprofile:update' userprofile_id=userprofile.id %}"
            hx-target="#dialog"
    >Modifier
    </button>
  </div>
  {% endif %}
</div>
<div class="dc-container">
  <div class="dc-category">
    Compétences
  </div>
  <div class="dc-content">
    {% for skill in skills %}
    <div class="dc-content-body">
      <div class="dc-title title">
        {{ skill.name}}
      </div>
      <div class="dc-content-desc">
        {{ skill.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns flex-end">
        <button class="btn cancel delete"
                hx-get="{% url 'skills:delete' skill_id=skill.id %}"
                hx-target="#dialog"
        >Supprimer
        </button>
        <button class="btn valid primary"
                hx-get="{% url 'skills:update' skill_id=skill.id %}"
                hx-target="#dialog"
        >Modifier
        </button>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'skills:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une catégorie de compétences
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Stack technique
  </div>
  <div class="dc-content">
    <div class="dc-content-body">
      <div class="dc-content-cards">
        {% for category in tech_stack_categories %}
        <div class="dc-card">
          <div class="dc-card-header">
            <div class="tech-category">
              {{ category.name }}
            </div>
            {% if user.is_authenticated %}
            <div class="btns flex-end">
              <button class="btn cancel delete"
                      hx-get="{% url 'techstack:delete-category' tech_category_id=category.id %}"
                      hx-target="#dialog"
              >Supprimer
              </button>
              <button class="btn valid primary"
                      hx-get="{% url 'techstack:update-category' tech_category_id=category.id %}"
                      hx-target="#dialog"
              >Modifier
              </button>
            </div>
            {% endif %}
          </div>
          <div class="dc-content-card">
            {% for tech in category.techs.all %}
            <div class="tech-container">
              <div class="tech">
                {{ tech.name }}
              </div>
              {% if user.is_authenticated %}
              <div class="btns icons">
                <img class="btn-icon"
                     hx-get="{% url 'techstack:delete' tech_stack_id=tech.id %}"
                     hx-target="#dialog"
                     src="{% static 'icons/trash.png' %}"
                     alt="delete-btn">
                <img class="btn-icon"
                     hx-get="{% url 'techstack:update' tech_stack_id=tech.id %}"
                     hx-target="#dialog"
                     src="{% static 'icons/edit.png' %}"
                     alt="edit-btn">
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'techstack:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une stack technique
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Expériences
  </div>
  <div class="dc-content">
    {% for experience in experiences %}
    <div class="dc-content-body">
      <div class="dc-title">
        <div class="title">{{ experience.title }}</div>
        <div>
          | {{ experience.start_date }} —
          {% if experience.is_current %} Présent {% else %}
          {{ experience.end_date }} {% endif %}
        </div>
      </div>
      <div class="dc-title">
        <div class="subtitle">
          {{ experience.company }}
        </div>
        <div>
          — {{ experience.location }}
        </div>
      </div>
      <div class="dc-content-desc">
        {{ experience.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns flex-end">
        <button class="btn cancel delete"
                hx-get="{% url 'experiences:delete' experience_id=experience.id %}"
                hx-target="#dialog"
        >Supprimer
        </button>
        <button class="btn valid primary"
                hx-get="{% url 'experiences:update' experience_id=experience.id %}"
                hx-target="#dialog"
        >Modifier
        </button>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'experiences:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une expérience
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Éducation
  </div>
  <div class="dc-content">
    {% if not education_sections and user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'education:add-section' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une section d'éducation
    </button>
    {% endif %}
    {% for section in education_sections %}
    <div class="dc-content-body">
      <div class="dc-title title">
        {{ section.name }}
      </div>
      <div class="dc-content-desc">
        {{ section.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns flex-end">
        <button class="btn cancel delete"
                hx-get="{% url 'education:delete-section' education_section_id=section.id %}"
                hx-target="#dialog"
        >Supprimer
        </button>
        <button class="btn valid primary"
                hx-get="{% url 'education:update-section' education_section_id=section.id %}"
                hx-target="#dialog"
        >Modifier
        </button>
      </div>
      {% endif %}
    </div>
    {% for education in section.educations.all %}
    <div class="dc-content-body">
      <div class="dc-title title">
        {{ education.degree }} – {{ education.field_of_study }}
      </div>
      <div class="dc-title subtitle">
        {{ education.school }},
        {{ education.location }} |
        {{ education.start_date.year }}
        {% if education.end_date.year > education.start_date.year %}
        – {{ education.end_date.year }}
        {% endif %}
      </div>
      <div class="dc-content-desc">
        {{ education.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns flex-end">
        <button class="btn cancel delete"
                hx-get="{% url 'education:delete' education_id=education.id %}"
                hx-target="#dialog"
        >Supprimer
        </button>
        <button class="btn valid primary"
                hx-get="{% url 'education:update' education_id=education.id %}"
                hx-target="#dialog"
        >Modifier
        </button>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'education:add' education_section_id=section.id %}"
            hx-target="#dialog">
      Ajouter un parcours d'éducation
    </button>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Certificats
  </div>
  <div class="dc-content">
    <div class="dc-content-body">
      <div class="cards">
        {% for certification in certifications %}
        <div class="card small">
          <a href="{{certification.certificate_url}}" target="_blank">
            <div class="card-image">
              {% if certification.image %}
              <img src="{{ certification.image.url }}" alt="image"/>
              {% endif %}
            </div>
          </a>
          <div class="card-content small">
            <div class="card-title">
              {{ certification.name }}
            </div>
            <div class="card-subtitle">
              <small>Délivré par {{ certification.issuer }}</small>
              <small>Date d'obtention: {{ certification.obtained_date }}</small>
            </div>
            {% if user.is_authenticated %}
            <div class="btns space-between">
              <button class="btn cancel delete"
                      hx-get="{% url 'certifications:delete' certification_id=certification.id %}"
                      hx-target="#dialog"
              >Supprimer
              </button>
              <button class="btn valid primary"
                      hx-get="{% url 'certifications:update' certification_id=certification.id %}"
                      hx-target="#dialog"
              >Modifier
              </button>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'certifications:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une certification
    </button>
    {% endif %}
  </div>
</div>

