{% load static %}
<div class="user-profile dc">
  <div class="user-profile-container">
    {% include 'includes/messages.html' %}
    <div class="skills">
      <div class="user-profile-header">
        <div class="text">
          <div class="user-name">
            Bonjour, ici {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
          </div>
          <div class="user-title">
            {{ userprofile.title }}
          </div>
          <div class="user-position">
            {{ userprofile.position }}
          </div>
        </div>
        <div class="avatar circle">
          {% if userprofile.avatar %}
          <img src="{{ userprofile.avatar.url }}" alt="Avatar"/>
          {% endif %}
        </div>
      </div>
      <div class="user-bio">
        {{ userprofile.bio|safe }}
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="btns icons">
    <img class="btn-icon"
         hx-get="{% url 'userprofile:update' userprofile_id=userprofile.id %}"
         hx-target="#dialog"
         src="{% static 'icons/edit.png' %}"
         alt="edit-btn">
    <img class="btn-icon"
         hx-get="{% url 'userprofile:delete' userprofile_id=userprofile.id %}"
         hx-target="#dialog"
         src="{% static 'icons/trash.png' %}"
         alt="delete-btn">
  </div>
  {% endif %}
</div>
<div class="dc-container">
  <div class="dc-category">
    Expériences
  </div>
  <div class="dc-content">
    {% for experience in experiences %}
    <div class="dc-content-body">
      <div class="dc-title">
        <div class="title">{{ experience.title }}</div>
        <div>
          | {{ experience.start_date }} —
          {% if experience.is_current %} Présent {% else %}
          {{ experience.end_date }} {% endif %}
        </div>
      </div>
      <div class="dc-title">
        <div class="subtitle">
          {{ experience.company }}
        </div>
         <div>
           —  {{ experience.location }}
         </div>
      </div>
      <div class="dc-content-desc">
        {{ experience.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon"
             hx-get="{% url 'experiences:update' experience_id=experience.id %}"
             hx-target="#dialog"
             src="{% static 'icons/edit.png' %}"
             alt="edit-btn">
        <img class="btn-icon"
             hx-get="{% url 'experiences:delete' experience_id=experience.id %}"
             hx-target="#dialog"
             src="{% static 'icons/trash.png' %}"
             alt="delete-btn">
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'experiences:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une expérience
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Compétences
  </div>
  <div class="dc-content">
    {% for skill in skills %}
    <div class="dc-content-body">
      <div class="dc-title title">
        {{ skill.name}}
      </div>
      <div class="dc-content-desc">
        {{ skill.description|safe }}
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon"
             hx-get="{% url 'skills:update' skill_id=skill.id %}"
             hx-target="#dialog"
             src="{% static 'icons/edit.png' %}"
             alt="edit-btn">
        <img class="btn-icon"
             hx-get="{% url 'skills:delete' skill_id=skill.id %}"
             hx-target="#dialog"
             src="{% static 'icons/trash.png' %}"
             alt="delete-btn">
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn valid primary"
            hx-get="{% url 'skills:add' user_id=user_obj.id %}"
            hx-target="#dialog">
      Ajouter une catégorie de compétences
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Éducation
  </div>
  <div class="dc-content">
    <div class="dc-content-body">
      <div class="dc-title">
        Parcours Académique
      </div>
      <div class="dc-content-desc">
        <p>
          Mon parcours est marqué par une évolution stratégique : des mathématiques pures et de la modélisation
          financière vers l'ingénierie de la donnée et le développement moderne.
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
        <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
      </div>
      {% endif %}
    </div>
    <div class="dc-content-body">
      <div class="dc-title">
        Formation en Analytics Engineer
      </div>
      <div class="dc-title">
        Ada Study | 2025
      </div>
      <div class="dc-content-desc">
        <p>
          Perfectionnement sur les pratiques modernes de la data (Modern Data Stack), la modélisation avancée en
          entrepôt de données et l'utilisation de dbt.
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
        <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
      </div>
      {% endif %}
    </div>
    <div class="dc-content-body">
      <div class="dc-title">
        Diplôme Professionnel : Concepteur Développeur en Science des Données
      </div>
      <div class="dc-title">
        Jedha Bootcamp, Paris | 2019 - 2020
      </div>
      <div class="dc-content-desc">
        <p>
          Formation intensive et pratique ayant solidifié mes compétences en développement Python, et Machine Learning
          de bout en bout.
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
        <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
      </div>
      {% endif %}
    </div>
    <div class="dc-content-body">
      <div class="dc-title">
        Master 2 – Ingénierie Mathématique en Finance et Logistique
      </div>
      <div class="dc-title">
        Université Le Havre Normandie | 2017 - 2018
      </div>
      <div class="dc-content-desc">
        <p>
          Acquisition d'une expertise forte en modélisation mathématique, optimisation, statistiques et résolution de
          problèmes complexes appliqués à des secteurs exigeants.
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
        <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
      </div>
      {% endif %}
    </div>
    <div class="dc-content-body">
      <div class="dc-title">
        Master 2 – Mathématiques et Informatique des Systèmes Complexes et Distribués
      </div>
      <div class="dc-title">
        Université Le Havre Normandie | 2016 - 2017
      </div>
      <div class="dc-content-desc">
        <p>
          Étude approfondie de l'algorithmique, de l'informatique distribuée et des systèmes complexes, jetant les
          bases de mes compétences actuelles en architecture de données et de systèmes.
        </p>
      </div>
      {% if user.is_authenticated %}
      <div class="btns icons">
        <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
        <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
      </div>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <button class="btn cancel primary">
      Ajouter un parcours
      <img class="btn-icon" src="{% static 'icons/add.png' %}" alt="edit-btn">
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Technologies
  </div>
  <div class="dc-content">
    <div class="dc-content-body">
      <div class="dc-content-cards">
        <div class="dc-content-card">
          <div class="btn primary no-cursor">
            Python
          </div>
          {% if user.is_authenticated %}
          <div class="btns icons">
            <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
            <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
          </div>
          {% endif %}
        </div>
        <div class="dc-content-card">
          <div class="btn primary no-cursor">
            SQL
          </div>
          {% if user.is_authenticated %}
          <div class="btns icons">
            <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
            <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <button class="btn cancel primary">
      Ajouter une techno
      <img class="btn-icon" src="{% static 'icons/add.png' %}" alt="edit-btn">
    </button>
    {% endif %}
  </div>
</div>
<div class="dc-container">
  <div class="dc-category">
    Certificats
  </div>
  <div class="dc-content">
    <div class="dc-content-body">
      <div class="dc-content-cards">
        <div class="dc-content-card">
          <div class="btn primary linked">
            AWS
          </div>
          {% if user.is_authenticated %}
          <div class="btns icons">
            <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
            <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
          </div>
          {% endif %}
        </div>
        <div class="dc-content-card">
          <div class="btn primary linked">
            Microsoft
          </div>
          {% if user.is_authenticated %}
          <div class="btns icons">
            <img class="btn-icon" src="{% static 'icons/edit.png' %}" alt="edit-btn">
            <img class="btn-icon" src="{% static 'icons/trash.png' %}" alt="delete-btn">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <button class="btn cancel primary">
      Ajouter une certification
      <img class="btn-icon" src="{% static 'icons/add.png' %}" alt="edit-btn">
    </button>
    {% endif %}
  </div>
</div>