<!-- Display messages -->
{% load static %}
{% if messages %}
{% for message in messages %}
<div class="messages">

  <div
          class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}"
          role="alert"
  >
    <img class="icon"
         src="{% static 'icons/close-' %}{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}.png"
         alt="close-btn">
    <div class="alert-title {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
      {% if message.tags == 'error' %}
      Erreur !!!
      {% elif message.tags == 'success' %}
      Succès !!!
      {% elif message.tags == 'warning' %}
      Avertissement !!!
      {% elif message.tags == 'info' %}
      Information !!!
      {% endif %}
    </div>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}