{% load static %}
{% block navbar %}
<div class="logo">
  <a href="{% url 'home:home-page' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo">
  </a>
</div>
<div class="menu right">
  <a class="item {% if request.path == mk.navbar_url %} active {% endif %}" href="{% url 'home:home-page' %}">Accueil</a>
  <a class="item {% if request.path == projects.navbar_url %} active {% endif %}" href="{% url 'projects:projects-list' %}">Projets</a>
  <a class="item {% if request.path == contact.navbar_url %} active {% endif %}" href="{% url 'home:contact-page' %}">Me contacter</a>
</div>
{% endblock navbar %}
