{% load static %}
{% block navbar %}
<div class="logo">
  <a href="{% url 'home:home-page' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo">
  </a>
</div>
<div class="menu right">
  <a class="item {% if request.path == user_obj.navbar_url %} active {% endif %}"
     href="{% url 'home:home-page' %}"
  >Accueil</a>
  <a class="item {% if request.path == userprofile.navbar_url %} active {% endif %}"
     href="{% url 'userprofile:index' user_obj.id %}"
  >Profil</a>
  <a class="item {% if request.path == articles.navbar_url %} active {% endif %}"
     href="{% url 'blog:index' user_obj.id %}"
  >Blog</a>
  <a class="item {% if request.path == projects.navbar_url %} active {% endif %}"
     href="{% url 'project:index' user_obj.id %}"
  >Projets</a>
  <a class="item {% if request.path == contact.navbar_url %} active {% endif %}"
     href="{% url 'home:contact-page' %}"
  >Me contacter</a>
</div>
{% endblock navbar %}
