{% extends "base.html" %}
{% load static %}
{% block title %}
Page d'accueil
{% endblock title %}

{% block content %}
<div class="project-detail">
  <div class="project-detail-aside">
    <div class="nav">
      <div class="nav-title">
        Data & Engineering
        <img class="icon" src="{% static 'icons/polygon.png' %}" alt="edit-btn">
      </div>
      <div class="nav-menu">
        <div class="nav-item">Project 1</div>
        <div class="nav-item active">Project 2</div>
        <div class="nav-item">Project 3</div>
      </div>
    </div>
    <div class="nav">
      <div class="nav-title">
        Développement applicatifs
      <img class="icon" src="{% static 'icons/polygon.png' %}" alt="edit-btn">
      </div>
    </div>
  </div>
  <div class="project-detail-main">
    <div class="project-detail-header">
      Dashbord avec Power BI
    </div>
    <div class="author">
      <div class="author-picture circle">{{ mkprofile.profile.avatar }}
        <img src="{% static 'img/circleprofile.png' %}" alt="profile">
      </div>
      <div class="author-detail">
        <div class="author-name">
          {{ mkprofile.first_name|lower|capfirst }} {{ mkprofile.last_name|upper }}
        </div>
        <div class="author-title">{{ mkprofile.profile.title }}
          Analytics Engigneer | Data Analyst | Développeur Python
        </div>
        <div class="author-position">{{ mkprofile.profile.position }}
          Consultant en Data Analytics et Ingénierie de la Donnée
        </div>
      </div>
    </div>
    <div class="project-detail-content">
      lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua
    </div>
  </div>
</div>
{% endblock content%}