{% extends "base.html" %}
{% load static %}
{% block title %}
Page d'accueil
{% endblock title %}

{% block content %}
<div class="content-header">
  <div class="search-container">
    <div class="search-content">
      <img class="btn-icon" src="{% static 'icons/search.png' %}" alt="edit-btn">
      <input type="text" placeholder="Rechercher un projet...">
    </div>
    <div class="category">
      <div class="nav">
      <div class="nav-title">
        Catégories
        <img class="icon" src="{% static 'icons/polygon.png' %}" alt="edit-btn">
      </div>
      <div class="nav-menu">
        <div class="nav-item">Data & Engineering</div>
        <div class="nav-item active">Développement Applicatifs</div>
      </div>
    </div>
    </div>
  </div>
  <div class="counter-btn">12 projets trouvés</div>
</div>
<div class="projects all">
  <div class="projects-content">
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-image">
        <img src="{% static 'img/project1.jpg' %}" alt="project-image">
      </div>
      <div class="project-card-text">
        <div class="project-card-header">
          <div class="project-card-title">Apps Django</div>
          <div class="project-card-date">@2026</div>
        </div>
        <div class="project-card-description">
          Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
        </div>
      </div>
      <div class="project-card-btns btns">
        <div class="btn primary">Voir le projet</div>
        <a href="" class="btn secondary">Voir le code</a>
      </div>
    </div>
  </div>
</div>
{% endblock content%}