{% extends "base.html" %}
{% load static %}
{% block title %}
Page d'accueil
{% endblock title %}

{% block content %}
<div class="contact">
  <div class="author">
    <div class="author-picture avatar circle">
      <img src="{{ user_obj.profile.avatar.url }}" alt="profile">
    </div>
    <div class="author-detail">
      <div class="author-name">
        {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
      </div>
      <div class="author-title">
        {{ user_obj.profile.title }}
      </div>
      <div class="author-position">
        {{ user_obj.profile.position }}
      </div>
    </div>
  </div>
  <div class="contact-content">
    <div class="register">
      <div class="register-header">
        Me contacter
      </div>
      <div class="register-content">
        <form hx-post="{{ request.path }}"
              hx-target="#dialog"
              hx-swap="innerHTML"
              enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="field">
            <label>Prénom</label>
            <input type="text" name="first_name" placeholder="Votre prénom" value="{{data.first_name}}" required>
          </div>
          <div class="field">
            <label>Nom</label>
            <input type="text" name="last_name" placeholder="Votre nom" value="{{data.last_name}}" required>
          </div>
          <div class="field">
            <label>Adresse email</label>
            <input type="email" name="email" placeholder="Votre email" value="{{data.email}}" required>
          </div>
          <div class="field">
            <label>Message</label>
            <textarea name="message" id="" cols="30" rows="3" placeholder="Votre mot de passe"></textarea>
          </div>
          <div class="btns actions">
            <a href="{% url 'home:home-page' %}" id="cancel">
              <button class="btn cancel primary" type="button">Annuler</button>
            </a>
            <button class="btn valid primary" type="submit">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content%}