{% extends "base.html" %}
{% load static %}
{% block title %}
Page d'accueil
{% endblock title %}

{% block content %}
<div class="user-profile">
  <div class="user-profile-container">
    {% include 'includes/messages.html' %}
    <div class="skills">
      <div class="user-name">
        Bonjour, ici {{ mk.first_name|lower|capfirst }} {{ mk.last_name|upper }}
      </div>
      <div class="user-title">{{ mk.profile.title }}
        Analytics Engigneer | Data Analyst | Développeur Python
      </div>
      <div class="user-position">{{ mk.profile.position }}
        Consultant en Data Analytics et Ingénierie de la Donnée
      </div>
      <div class="user-bio">{{ mk.profile.bio }}
        <p>
          Fort de 5 ans d'expérience, je me positionne à la croisée du développement logiciel et de l'ingénierie de la
          donnée. Ma double formation de niveau Master 2 en Mathématiques Appliquées et Informatique m'a forgé un esprit
          analytique rigoureux, que je traduis aujourd'hui en architectures de données robustes et en modèles
          analytiques
          précis.
        </p>
        <p>
          Ma valeur ajoutée ? Maîtriser toute la chaîne de valeur de la donnée. Je ne me contente pas d'analyser
          l'existant, je conçois des API avec Python (Django/FastAPI) pour collecter l'information, je structure et
          fiabilise les flux au sein de Data Warehouses (Snowflake) grâce à DBT, et je restitue des insights
          actionnables
          via des tableaux de bord interactifs (Power BI, Tableau et Metabase).
        </p>
        <p>
          Mon objectif quotidien : automatiser les processus complexes pour transformer vos données brutes en un
          véritable
          levier de décision, tout en garantissant une réduction drastique des temps de traitement.
        </p>
      </div>
    </div>
    <div class="avatar">{{ mk.profile.avatar }}
      <img src="{% static 'img/profile.jpg' %}" alt="profile">
    </div>
  </div>
  <div class="btns userprofile">
    <a href="{% url 'userprofile:profile' mk.profile.id %}" class="btn primary">En savoir plus</a>
  </div>
</div>
<div class="projects">
  <div class="projects-container">
    <div class="projects-title">Projets Data & Engineering</div>
    <div class="projects-subtitle">Dernièrs projets réalisés</div>
    <div class="projects-content">
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="projects-title">Projets Développements</div>
    <div class="projects-subtitle">Dernièrs projets réalisés</div>
    <div class="projects-content">
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-card-image">
          <img src="{% static 'img/project1.jpg' %}" alt="project-image">
        </div>
        <div class="project-card-text">
          <div class="project-card-header">
            <div class="project-card-title">Apps Django</div>
            <div class="project-card-date">@2026</div>
          </div>
          <div class="project-card-description">
            Réalisations des 6 derniers moisgeggegeggeg geggeggegggeggeeggg...
          </div>
        </div>
        <div class="project-card-btns btns">
          <div class="btn primary">Voir le projet</div>
          <a href="" class="btn secondary">Voir le code</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects-container all">
  <div class="projects-title">Tous les projets réalisés</div>
  <a href="{% url 'projects:projects-list' %}">
    <div class="projects-btn">
      <div class="btn primary">Voir tous les projets</div>
      <div class="icon">
        <img src="{% static 'icons/right-arrow.png' %}" alt="right-arrow">
      </div>
    </div>
  </a>
</div>
{% endblock content%}