{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Page d'accueil
{% endblock title %}
{% block content %}
<div class="user-profile">
  <div class="user-profile-container">
    {% include 'includes/messages.html' %}
    <div class="skills">
      <div class="user-name">
        Bonjour, ici {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
      </div>
      <div class="user-title">
        {{ user_obj.profile.title }}
      </div>
      <div class="user-position">
        {{ user_obj.profile.position }}
      </div>
      <div class="user-bio">
        {{ user_obj.profile.bio|safe }}
      </div>
    </div>
    <div class="avatar">
      {% if user_obj.profile and user_obj.profile.avatar %}
      <img src="{{ user_obj.profile.avatar.url }}" alt="Avatar"/>
      {% endif %}
    </div>
  </div>
  <div class="btns userprofile">
    <a href="{% url 'userprofile:index' user_obj.id %}" class="btn valid primary">En savoir plus</a>
  </div>
</div>
<div class="projects">
  <div class="projects-header">
    <div class="projects-title">Retrouvez tous mes projets réalisés</div>
    <a href="{% url 'project:index' user_obj.id %}">
      <div class="projects-btn">
        <div class="btn">Voir tous les projets</div>
        <div class="icon">
          <img class="hover-none" src="{% static 'icons/right-arrow.png' %}" alt="right-arrow">
          <img class="hover-block" src="{% static 'icons/white-right-arrow.png' %}" alt="right-arrow">
        </div>
      </div>
    </a>
  </div>
  <div class="cards">
    {% for project in projects %}
    <div class="card">
      <div class="card-image">
        {% if project.image %}
        <img src="{{ project.image.url }}" alt="image"/>
        {% endif %}
      </div>
      <div class="card-content">
        <div class="card-title">
          {{ project.title }}
        </div>
        <div class="btns flex-end">
          <small class="card-date">
            {% language 'fr' %}
            Publié le {{project.created_at|date:"F Y"}}
            {% endlanguage %}
          </small>
        </div>
        <div class="card-subtitle">
          {{ project.description|safe|truncatewords:12 }}
        </div>
      </div>
      <div class="btns space-between">
        <a href="{{ project.source_code_url }}" class="btn cancel primary" target="_blank">Voir le code</a>
        <a href="{% url 'project:detail-index' project.id %}" class="btn valid primary">Voir le projet</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="projects-header">
    <div class="projects-title">Retrouves toutes mes ressources, conseils et partages d’expérience</div>
    <a href="{% url 'blog:index' user_obj.id %}">
      <div class="projects-btn">
        <div class="btn">Voir tous les articles</div>
        <div class="icon">
          <img class="hover-none" src="{% static 'icons/right-arrow.png' %}" alt="right-arrow">
          <img class="hover-block" src="{% static 'icons/white-right-arrow.png' %}" alt="right-arrow">
        </div>
      </div>
    </a>
  </div>
  <div class="cards">
    {% for article in articles %}
    <div class="card blog-card">
      <div class="card-image">
        {% if article.image %}
        <img src="{{ article.image.url }}" alt="image"/>
        {% endif %}
      </div>
      <div class="card-content">
        <div class="card-title">
          {{ article.title }}
        </div>
        <div class="btns flex-end">
          <small class="card-date">
            {% language 'fr' %}
            Publié le {{article.created_at|date:"F Y"}}
            {% endlanguage %}
          </small>
        </div>
        <div class="card-subtitle">
          {{ article.description|safe|truncatewords:12 }}
        </div>
      </div>
      <div class="btns flex-end">
        <a href="{% url 'blog:detail-index' article.id %}" class="btn valid primary">Lire l'article</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content%}