{% extends "base.html" %}
{% load static %}
{% block title %}
Page d'accueil
{% endblock title %}

{% block content %}
<div class="user-profile">
  <div class="user-profile-container">
    {% include 'includes/messages.html' %}
    <div class="skills">
      <div class="user-name">
        Bonjour, ici {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
      </div>
      <div class="user-title">
        {{ user_obj.profile.title }}
      </div>
      <div class="user-position">
        {{ user_obj.profile.position }}
      </div>
      <div class="user-bio">
        {{ user_obj.profile.bio|safe }}
      </div>
    </div>
    <div class="avatar">
      {% if user_obj.profile and user_obj.profile.avatar %}
      <img src="{{ user_obj.profile.avatar.url }}" alt="Avatar"/>
      {% endif %}
    </div>
  </div>
  <div class="btns userprofile">
    <a href="{% url 'userprofile:index' user_obj.id %}" class="btn valid primary">En savoir plus</a>
  </div>
</div>
<div class="projects">
  <div class="projects-container">
    <div class="projects-title">Projets Data & Engineering</div>
    <div class="projects-subtitle">Dernièrs projets réalisés</div>
    <div class="cards">
      {% for project in data_projects %}
      <div class="card">
        <div class="card-image">
          {% if project.image  %}
          <img src="{{ project.image.url }}" alt="image"/>
          {% endif %}
        </div>
        <div class="card-content">
          <div class="card-title">
            {{ project.title }}
            <small class="card-date">@{{project.created_at}}</small>
          </div>
          <div class="card-subtitle">
            {{ project.description|safe|truncatewords:12 }}
          </div>
        </div>
        <div class="btns space-between">
          <a href="{{ project.source_code_url }}" class="btn cancel primary" target="_blank">Voir le code</a>
          <a href="{% url 'project:detail' project.id %}" class="btn valid primary">Voir le projet</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="projects-container">
    <div class="projects-title">Projets Développements</div>
    <div class="projects-subtitle">Dernièrs projets réalisés</div>
    <div class="cards">
      {% for project in dev_projects %}
      <div class="card">
        <div class="card-image">
          {% if project.image  %}
          <img src="{{ project.image.url }}" alt="image"/>
          {% endif %}
        </div>
        <div class="card-content">
          <div class="card-title">
            {{ project.title }}
            <small class="card-date">@{{project.created_at}}</small>
          </div>
          <div class="card-subtitle">
            {{ project.description|safe|truncatewords:12 }}
          </div>
        </div>
        <div class="btns space-between">
          <a href="{{ project.source_code_url }}" class="btn cancel primary" target="_blank">Voir le code</a>
          <a href="{% url 'project:detail' project.id %}" class="btn valid primary">Voir le projet</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="projects-container all">
  <div class="projects-title">Tous les projets réalisés</div>
  <a href="{% url 'project:list' user_obj.id %}">
    <div class="projects-btn">
      <div class="btn valid primary">Voir tous les projets</div>
      <div class="icon">
        <img src="{% static 'icons/right-arrow.png' %}" alt="right-arrow">
      </div>
    </div>
  </a>
</div>
{% endblock content%}