{% extends "base.html" %}
{% load static %}
{% block title %}
Liste des articles
{% endblock title %}
{% block content %}
<div class="content-header">
  <div class="content-header-title">
    Retours d'expérience, bonnes pratiques et veille tech, des contenus concrets pour progresser dans l'écosystème data
    et le développement Python.
  </div>
  <div class="search-container" id="filters">
    <!-- Tags -->
    <div class="tags-filters">
      <div class="tags-btn">
        Mots-clés
        <img class="btn-icon" src="{% static 'icons/filter.png' %}" alt="filter">
      </div>
      <div class="field field-filters">
        {% for tag in tags %}
        <label>
          <input
                  type="checkbox"
                  name="tags"
                  value="{{ tag.id }}"
                  hx-get="{% url 'blog:list' user_obj.id %}"
                  hx-trigger="change"
                  hx-target="#posts-container"
                  hx-include="#filters"
          >
          {{ tag.name }}
        </label>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="posts-container"
     hx-get="{% url 'blog:list' user_obj.id %}"
     hx-trigger="load, formSubmittedEvent from:body"
     hx-target="this"
     hx-swap="innerHTML">
</div>
{% endblock content %}