{% load i18n %}
{% load static %}
{% include 'includes/messages.html' %}
<div class="project-detail">
  <div class="project-detail-aside">
    <div class="aside-menu">
      <div class="aside-menu-btn">
        <img class="icon aside-menu-icon" src="{% static 'icons/open-pane.png' %}" alt="">
      </div>
    </div>
    {% for category in categories %}
    <div class="nav {% if category.id == current_category.id %}active{% endif %}">
      <div class="nav-title {% if category.id == current_category.id %}active{% endif %}">
        <img class="icon arrow" src="{% static 'icons/large-' %}{% if category.id == current_category.id %}dark{% else %}grey{% endif %}-arrow.png" alt="">
        <div class="nav-title-name">
          {{ category.name }}
        </div>
      </div>
      <div class="nav-menu {% if category.id == current_category.id %}active{% endif %}">
        {% for article in category.articles.all %}
        <div class="nav-item {% if article.id == current_article.id %}active{% endif %}"
             hx-get="{% url 'blog:detail' article.id %}"
             hx-target="#post-detail"
             hx-swap="innerHTML"
        >
          {{ article.title }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="project-detail-main">
    <div class="project-detail-header">
      {{ article.title }}
      {% if user.is_authenticated %}
      <div class="btns flex-end">
        <button class="btn cancel delete"
                hx-get="{% url 'blog:delete' post_id=article.id %}"
                hx-target="#dialog"
        >Supprimer
        </button>
        <button class="btn valid primary"
                hx-get="{% url 'blog:update' post_id=article.id %}"
                hx-target="#dialog"
        >Modifier
        </button>
      </div>
      {% endif %}
    </div>
    <div class="author">
      <div class="author-picture avatar circle">
        {% if user_obj.profile and user_obj.profile.avatar %}
        <img src="{{ user_obj.profile.avatar.url }}" alt="profile"/>
        {% endif %}
      </div>
      <div class="author-detail">
        <div class="author-name">
          {{ user_obj.first_name|lower|capfirst }} {{ user_obj.last_name|upper }}
        </div>
        <div class="author-title">
          {{ user_obj.profile.title }}
        </div>
        <div class="author-date published">
          {% language 'fr' %}
          Publié le {{ article.published_at|date:"d F Y" }}
          {% endlanguage %}
        </div>
        <div class="author-date updated">
          {% language 'fr' %}
          Mis à jour le {{ article.updated_at|date:"d F Y" }}
          {% endlanguage %}
        </div>
      </div>
    </div>
    <div class="project-detail-content">
      {{ article.description|safe }}
    </div>
  </div>
</div>
<script src="{% static 'js/load.js' %}" defer></script>